.frontpage-text {
    animation-name: myAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    /*animation-direction: alternate;*/
    animation-timing-function: ease-out;
} 

@keyframes myAnimation {
    0%   { left: 200px; opacity: 0; }

    100% { left: 0; opacity: 1; }
}

@media (max-width: 1024px)
{
    .frontpage-text {
        animation-name: myAnimation;
        animation-iteration-count: 1;
        animation-delay: 0s;
    }

    @keyframes myAnimation{
        0%   { left: 0; opacity: 1; }
        100% { left: 0; opacity: 1; }
    }
}