/* This is meant to catalog all known CSS elements and how to use them. */

/* IMPORT */
/* When you need to reference another file or resource. */
/* @import url('http://www.yoursite.com/'); */
@import url('https://fonts.googleapis.com');

/* CUSTOM PROPERTIES */
/* Use these to create variables to reference later. */
/* :root { --property: val; } */
/* value has to match the parameters of desired element. */
:root {
    --primary-clr: #456;
}

/* UNIVERSAL SELECTOR */
/* Use this to create universal rules to your site. Keep it at the top. */
/* * { paramaters go here } */
* {
    margin: 0;
}

/*  PROPERTIES OF SELECTORS */
/* This is what you can do within selectors. */
/*  Remove properties you won't be using. */
.selector {
    display: ;
    width: ;
    height: ;
    margin: ;
    padding: ;
    background: ;
    
}