@import url("mobile.css");


/* ROOT */
:root {
  --yellow: #ffb515;
  --blue: #045BB2;
  --background: #071E3D;
  --textcolor: white;
  --calltoactiontext: black;
}



/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light dark;
}

body {
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

html, body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: var(--background);
}



/* CONTENT */
.content {
  position: relative;
  min-height: 100vh;
  padding-bottom: 130px;
}


/* HEADERS */
.pagetitle {
  width: 850px;
  margin: 0 auto;
  padding: 50px 0;
}

h1 {
  color: #71B8FF;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
}



/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 60px;
  margin: 0 auto;
  padding: 0;
}

nav .logo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
  width: 200px;
  height: 100%;
}

.menu {
  display: inline-flex;
  justify-content: space-between;
  width: 350px;
}

.menu a {
  color: var(--yellow);
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.menu a:hover {
  color: var(--textcolor);
}


/* FRONT PAGE */
.frontpage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 700px;
  height: 700px;
  margin: 50px auto;
  border-radius: 5%;
  background-color: var(--blue);
  overflow: hidden;
}

.frontpagetext {
  grid-column: 1;
  position: relative;
  width: 100%;
  height: 600px;
  margin: auto 0;
  padding: 0;
}

.greeting {
  color: var(--textcolor);
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.frontpagetext p {
  width: 100%;
  margin-bottom: 5px;
  padding: 0 25px;
  color: var(--textcolor);
}

.frontpageaction {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  padding: 25px;
}

.frontpagemask {
  grid-column: 2;
  height: 500px;
  margin: auto 0;
  overflow: hidden;
  background-color: var(--yellow);
}



/* WORK */
.work {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: auto;
}

.work-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;
  width: 250px;
  height: 400px;
  overflow: hidden;;
  background-color: var(--blue);
}

.work-container-logo {
  width: 100%;
}

.work-container p {
  margin-top: 30px;
  padding: 0 10px;
}

.work-container-calltoaction {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}



/* CONTACT */
.contactform {
  grid-row: 3;
  width: 860px;
  margin: 0 auto;
}

.contactform p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
  color: white;
}

#contact-form p {
  text-align: left;
  margin-bottom: 10px;
}

.contactform ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  margin: 040px auto 40px;
}

.contactform ul li {
  font-size: 30px;
}

#info {
  text-align: left;
}

.form-control {
  width: 100%;
  outline: none;
  border: 0;
  border-bottom: 2px solid #045BB2;
  background: none;
  font-size: 15px;
  text-align: left;
  margin: 0 0 30px;
}

#message {
  height: 200px;
}

input {
  height: 20px;
}

form .submit {
  background: #045BB2;
  border-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  width: 200px;
  height: 50px;
  margin: 20px auto 70px;
}

form .submit:hover {
  background-color: #0e71d4;
}



/* PORTFOLIO */
.portfolio {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 25px;
  width: 860px;
  margin: 0 auto;
  padding: 0;
}

.portfolio-container {
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.portfolio-link {
  position: absolute;
  bottom: -70px;
  background-color: #045BB2;
  width: 100%;
  height: 70px;
  margin: 0;
  transition: all .3s;
}

.portfolio-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--textcolor);
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio-container:hover .portfolio-link {
  transform: translateY(-70px);
}



/* GALLERY */
.gallery {
  display: grid;
  width: 1000px;
  margin: 0 auto 0;
  gap: 30px;
  grid-template-columns: repeat(2, auto);
}

.gallery-image {
  margin: 0;
  overflow: hidden;
}

.gallery-image-horizontal {
  margin: 0;
  grid-column: span 2;
  overflow: hidden;
}


/* BACK TO TOP */
.topbtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: solid 2px var(--blue);
  border-radius: 4px;
  outline: none;
  background-color: var(--blue);
  color: var(--textcolor);
  cursor: pointer;
  padding: 15px;
  transition: background-color 0.3s;
}

.topbtn:after {
  content: "Back to Top";
}

.topbtn:hover {
  background-color: var(--yellow);
  color: var(--calltoactiontext);
}


/* Menu Button */
.menu-button-container {
  display: none;
  height: 100%;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}



/* CALL TO ACTION */
a.calltoaction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: normal;
  text-decoration: none;
  transition: background-color 0.3s;
  background: var(--yellow);
  color: var(--calltoactiontext);
}

a.calltoaction:hover {
  background: white;
}



.footer {
  background: #ffb515;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* margin-top: -100px; */
  clear: both;
}

.footer .footer-content {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  width: 400px;
  height: 100%;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer ul li {
  font-size: 30px;
}

.footer ul li a {
  color: #071E3D;
}



/* MOBILE RESPONSIVENESS */
/* IPHONE 12/13 MAX*/
@media screen and (max-width: 428px) {
  
  .content {
    min-width: 100%;
    overflow: hidden;
  }

  
  
  /* NAVIGATION */
  nav {
    width: 100%;
    height: 100px;
  }

  nav .logo {
    width: 100%;
    height: 100px;
  }
  
  .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
    transform: translateY(-100vh);
    transition: transform 0.3s;
    z-index: 1;
  }


  .menu li {
    height: 100%;
  }

  .menu li:not(:last-child) {
    border-bottom: solid 1px white;
  }

  .menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: var(--calltoactiontext)
  }



  /* FRONT PAGE */
  .frontpage {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    width: 90%;
    height: 600px;
    margin: 50px auto;
    border-radius: 0;
  }

  .frontpagetext {
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 100%;
  }

  .frontpagemask {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 100%;
  }



  /* PAGE TITLE */
  .pagetitle {
    width: 100%;

  }

  h1 {
    letter-spacing: 15px;
  }



  /* WORK */
  .work {
    width: 100%;
    flex-direction: column;
  }

  .work-container {
    align-content: space-around;
    width: 100%;
    height: 400px;
  }

  .work-container:not(:last-child) {
    margin-bottom: 40px;
  }

  .work-container-logo {
    display: flex;
    justify-content: center;
  }

  .work-container p {
    padding: 0 25px;
  }

  .work-container-calltoaction {
    height: 100px;
  }



  /* PORTFOLIO */
  .portfolio {
    width: 100%;
  }

  .portfolio-container {
    height: 150px;
  }

  .portfolio-link {
    bottom: 0;
    height: 50px;
  }



  /* GALLERY */
  .gallery {
    width: 100%;
  }

  .gallery-image {
    grid-column: 1 / span 2;
  }
  


  /* FOOTER */
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 75px;
  }
  
  .footer .footer-content {
    width: 140px;
  }
  
  .menu-button-container {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 75px;
    height: 75px;
    z-index: 2;
  }

  #menu-toggle:checked ~ .menu {
    transform: translateY(0);
  }



  /* Back to Top */
  .topbtn {
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 30px;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .topbtn:after {
    content: "^";
  }
}