/* Contact */
.contactform {
    grid-row: 3;
    width: 860px;
    margin: 0 auto;
}

.contactform p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
    color: white;
}

#contact-form p {
    text-align: left;
    margin-bottom: 10px;
}

.contactform ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 040px auto 40px;
}

.contactform ul li {
    font-size: 30px;
}

#info {
    text-align: left;
}

.form-control
{
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: 2px solid #045BB2;
    background: none;
    font-size: 15px;
    text-align: left;
    margin: 0 0 30px;
}

#message {
    height: 200px;
}

input {
    height: 20px;
}

form .submit {
    background: #045BB2;
    border-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    width: 200px;
    height: 50px;
    margin: 20px auto 70px;
}

form .submit:hover {
    background-color: #0e71d4;
}